/*
Colores
  purple: hsl(263, 55%, 52%)
  grey: hsl(217, 19%, 35%)
  dark-blue: hsl(219, 29%, 14%)

Fuente de la página
  https://fonts.google.com/specimen/Barlow+Semi+Condensed
  Estilos 500 y 600

  font-family: 'Barlow Semi Condensed', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    color: white;
}

.testimonial-container{
    margin-top: 48px;
    margin-left: 20px;
    
}

.card{
    margin-right: 24px;
    display: inline-block;
    border-radius: 16px;
    
}

.height-400{
    height: 400px;
}

.first-testimonial-card{
    position: relative;
    width: 675px;
    vertical-align: middle;
    background-color: hsl(263, 55%, 52%);
}

.second-testimonial-card{
    width: 350px;
    vertical-align: middle;
    background-color: hsl(217, 19%, 35%);
}

.third-testimonial-card{
    width: 300px;
    vertical-align: top;
    background-color: #fff;
}

.bg-pattern{
    position: absolute;
    right: 160px;
    top:64px;
}

.testimonial-header{
    padding-top: 36px;
    padding-left: 32px;
    margin-bottom: 23px;
    
}

.user-photo{
    border-radius: 100% ;
    vertical-align: middle;
}


.user-information{
    display: inline-block;
    margin-left: 16px; 
    vertical-align: middle;
    line-height: 32px; 
       
}

.testimonial-body{
    padding-left: 32px;
}

.line-height-32{
    line-height: 36px;
}

.line-height-24{
    line-height: 24px;
}

.position-relative{
    position: relative;
}

.big-font{
    font-size: 1.5rem;
    font-weight: 600;
}


.light-purple-font{
    color: #BAA0E3;
}

.reset-margin{
    margin: 0;
}

.margin-top-20{
    margin-top: 20px;
}


.grey-font{
    color: #807a7a;
}

.light-grey-font{
    color: #a7a4a4;
}

.black-font{
    color: #000;
}

.padding-right-35{
    padding-right: 35px;
}

.padding-right-20{
    padding-right: 20px;
}

.padding-right-30{
    padding-right: 30px;
}

.padding-bottom-50{
    padding-bottom: 50px;
}
